{% extends "base.html" %}

{% block title %}長照地圖{% endblock title %}

{% block content %}

<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card shadow">
          <div class="card-header text-white text-center">
            <form class="center" method="post" action="/search">
              <h4 class="fw-bolder">請輸入住址資訊</h4>
              <label style="display:inline-block; width: 70px;">縣市:</label>
              <input name="city" size="20">
              <label style="display:inline-block; width: 70px;">行政區:</label>
              <input name="dist" size="20"><br>
              <button type="submit" class="center mt-2">查詢</button>
            </form>
          </div>
        </div>
     </div>
    </div>

    {% if message %}
    <p style="color:red;">{{ message }}</p>
    {% endif %}

    {% if map_html %}
      {{ map_html | safe }}
    {% endif %}

  </div>
</section>
{% endblock content %}
